.profile__avatar-button {
  display: block;
  text-decoration: none;
  position: relative;
}
.profile__avatar-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
}

.profile__avatar-button:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/button__edit.svg);
}
