.profile__edit {
  margin: 15px 0 0 42px;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/button__edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: edit;
}

@media screen and (max-width: 850px) {
  .profile__edit {
    margin: 15px 0 0 10px;
  }
}

@media screen and (max-width: 400px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin: 8px 0 0 15px;
    justify-self: center;
    align-self: center;
  }
}
