.footer {
  margin: 66px auto 60px auto;
  max-width: 880px;
}

@media screen and (max-width: 980px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 850px) {
  .footer {
    margin-top: 50px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    margin-left: 21px;
    margin-right: 27px;
  }
}
