.pop-up__body {
  max-width: 430px;
  background-color: white;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 445px) {
  .pop-up__body {
    max-width: 282px;
  }
}
