.pop-up__close {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/button__close.svg);
  background-size: cover;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.pop-up__close:hover {
  opacity: .6;
}

@media screen and (max-width: 528px) {
  .pop-up__close {
    width: 20px;
    height: 20px;
    top: -28px;
    right: 0;
  }
}
