.pop-up__save {
  display: block;
  margin: 0 auto 37px auto;
  width: 358px;
  height: 50px;
  border: none;
  background-color: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.pop-up__save:hover {
  opacity: .8;
}

@media screen and (max-width: 436px) {
  .pop-up__save {
    margin-bottom: 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
