.pop-up__input {
  width: 358px;
  margin: 0 36px 0 36px;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.pop-up__input:focus {
  outline: none;
}

@media screen and (max-width: 445px) {
  .pop-up__input {
    margin: 0 22px 0 22px;
    max-width: 238px;
  }
}
